@font-face {
		font-family: 'als_rublregular';
		src: url('../fonts/rouble-webfont.eot');
		src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/rouble-webfont.woff2') format('woff2'),
				 url('../fonts/rouble-webfont.woff') format('woff'),
				 url('../fonts/rouble-webfont.ttf') format('truetype'),
				 url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

.rouble {
	font-family: 'als_rublregular';
}

body {
	margin: 0;
	background: url('../img/body_bg.jpg') no-repeat;
	background-size: cover;
}

.top {
	height: 50px;
	width: 100%;
	background: url('../img/opacity_bg.png');
	padding: 10px 0 0;
	position: fixed;
	z-index: 100;
}

.top-fix {
	background: #fff;
}

.top .logo {
	width: 226px;
	height: 40px;
	background: url('../img/logo.png') left center no-repeat;
	margin: 0 10px 0;
	float: left;
}

.top .logo h1 {
	color: #000;
	font-family: Calibri;
	font-size: 25px;
	font-weight: bold;
	margin: 8px 0 -2px;
	padding: 0;
	float: right;
}

.top .logo p {
	color: #000;
	font-family: Calibri;
	font-size: 13px;
	margin: 0;
	padding: 0;
	float: right;
}

.top .user {
	width: 440px;
	height: 40px;
	margin: 0 10px 0;
	float: right;
}

.top .user .info {
	float: right;
}

.top .user .info .avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

.top .user .info .avatar img {
	width: 40px;
	height: 40px;
}

.top .user .info .name {
	width: 100px;
	height: 14px;
	color: #000;
	font-family: Arial;
	font-size: 12px;
	float: left;
	margin: 14px 0 0 10px;
	overflow: hidden;
}

.top .user .bookmark-page {
	float: right;
}

.top .user .bookmark-page .add-bookmark {
	width: 14px;
	height: 18px;
	background: url('../img/top-bookmark_bg.png') 0 0 no-repeat;
	margin: 12px 10px 0;
	display: block;
}

.top .user .bookmark-page .active-bookmark {
	background-position: -14px 0;
}

.top .user .visitcard {
	float: right;
}

.top .user .visitcard .add-visitcard {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	background: url('../img/visit-card_bg.png') left center no-repeat;
	margin: 6px 5px;
	padding: 8px 6px 6px 30px;
	border-radius: 2px;
	text-decoration: none;
	display: block;
}

.top .user .visitcard .active-card {
	background: url('../img/visit-card_bg.png') left center no-repeat #f2c36d;
}

.top .user .buyin {
	float: right;
}

.top .user .buyin .add-buyin {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	background: url('../img/buyin_bg.png') left center no-repeat;
	margin: 6px 5px;
	padding: 8px 6px 6px 36px;
	border-radius: 2px;
	text-decoration: none;
	display: block;
}

.top .user .buyin .active-buyin {
	background: url('../img/buyin_bg.png') left center no-repeat #f2c36d;
}

.top .navi {
	width: 280px;
	height: 50px;
	float: left;
	position: relative;
}

.top .navi ul li {
	margin: 10px 15px 0;
	padding: 0 4px 22px;
	float: left;
}

.top .navi ul li.separator {
	width: 33px;
	height: 21px;
	background: url('../img/navi-separator_bg.png') center center no-repeat;
	padding: 0;
}

.top .navi ul li.active {
	border-bottom: 2px solid #cc3333;
}

.top .navi ul li a {
	color: #333;
	font-family: Arial;
	font-size: 16px;
	text-decoration: none;
}

.filter {
	height: 140px;
	width: 100%;
	padding-top: 60px;
}

.filter:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.menu {
	height: 50px;
	width: 100%;
	background: url('../img/opacity_bg.png');
}

.menu .in-buyin {
	height: 50px;
	border-right: 1px solid #eee;
	float: left;
}

.menu .in-buyin:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.menu .in-buyin .title {
	color: #333;
		font-family: Arial;
		font-size: 20px;
		margin: 15px 0 0 20px;
		float: left;
}

.menu .in-buyin .onsale-filter {
	margin: 15px 20px 0 0;
	float: right;
}

.menu .in-buyin .onsale-filter .filter-name {
	color: #999;
	font-family: Arial;
	font-size: 10px;
	margin-right: 0px;
	float: left;
}

.menu .in-buyin .onsale-filter .filter-categories {
	width: 85px;
	color: #838383;
	font-family: Arial;
	font-size: 12px;
	background: transparent;
	margin-top: 3px;
	float: left;
	border: 0;
	outline: none;
}

.menu .in-buyin .filter-column {
	margin: 17px 20px;
	float: left;
}

.menu .in-buyin .filter-column .name {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	background: #fff79d;
	padding: 2px 6px;
	border: 1px solid #e2b80d;
	border-radius: 2px;
	text-decoration: none;
	float: left;
}

.menu .in-buyin .filter-column .reset {
	width: 7px;
	height: 7px;
	background: url('../img/reset-filters_bg.png') center center no-repeat;
	display: block;
	margin: 6px 7px;
	float: left;
}

.menu .addition {
	height: 49px;
	float: left;
	border-bottom: 1px solid #eee;
}

.menu .addition .mini-menu {
	padding-bottom: 20px;
	float: left;
}

.menu .addition .mini-menu ul {
	padding-top: 18px;
}

.menu .addition .mini-menu ul li {
	margin: 20px 4px;
	padding: 20px 6px 13px;
	border-bottom: 2px solid transparent;
	display: inline;
}

.menu .addition .mini-menu ul li.active {
	border-bottom: 2px solid #db0000;
}

.menu .addition .mini-menu ul li a {
	color: #000;
	font-family: Arial;
	font-size: 13px;
	text-decoration: none;
}

.menu .addition .write-message {
	margin: 17px 10px 0 0;
	float: right;
}

.menu .addition .write-message .name {
	color: #999;
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
	margin: 4px 6px 0;
	float: left;
}

.menu .addition .write-message .megachat {
	color: #000;
	font-family: Arial;
	font-size: 12px;
	background: #fff;
	padding: 3px 8px;
	float: left;
	border: 1px solid #eee;
	border-radius: 2px;
	text-decoration: none;
}

.container {
	width: 100%;
	min-width: 900px;
	max-width: 1300px;
	margin: 0 auto;
}

.window {
	background: url('../img/opacity_bg.png');
	float: left;

	text-align: center;
	color: #000;
}

.details {
	background: #fff;
	position: fixed;
	bottom: 0;
	border-left: 1px solid #eee;
	
}

.details .price-block {
	overflow: auto;
}

.chat .selection {
	background: url('../img/opacity_bg.png');
	position: fixed;
	float: right;
}

.chat .selection ul {
	margin: 10px 10px;
	float: right;
}

.chat .selection ul li {
	background: #fff;
	float: left;
	position: relative;
	border: 1px solid #c4c4c4;
}

.chat .selection ul li a {
	color: #686868;
    font-family: Arial;
    font-size: 11px;
    padding: 4px 8px;
    float: right;
    
	text-decoration: none;
	}

.chat .selection ul li:first-child {
	border-radius: 2px 0 0 2px;
	left: 1px;
}

.chat .selection ul li:last-child {
	border-radius: 0 2px 2px 0;
	left: -1px;
}

.chat .selection ul li.docs {
	background: url('../img/order-doc_bg.png') 5px center no-repeat #fff;
	padding-left: 14px;
	border-radius: 2px;
}

.chat .talk {
	overflow: auto;
	position: fixed;
	bottom: 0;
	clear: both;
	background: url('../img/opacity_bg.png');
}

.chat .message {
	color: #434343;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
}

.chat .talk .my-message {
    padding: 10px 40px 10px 10px;
    text-align: left;
}

.chat .talk .you-message {
    padding: 10px 10px 10px 40px;
    text-align: right;
}

.chat .talk .order-doc {
	color: #0078cc;
    background: url('../img/order-doc_bg.png') left center no-repeat;
    padding-top: 2px;
    padding-left: 16px;
    text-decoration: none;
    outline: none;
}

.chat .talk .message span {
    color: #999;
    font-size: 9px;
}

.chat .talk .message:hover {
    background: #e8e8e8;
}

.chat .writing {
	position: fixed;
	bottom: 0;}

.chat .writing .order-complete {
	width: 100%;
	color: #fff;
	font-family: Arial;
	font-size: 18px;
	background: #6292d3;
	margin-top: 20px;
	padding: 15px 0;
	text-align: center;
	position: absolute;
	bottom: 50px;
	cursor: pointer;
	text-decoration: none;
}

.chat .writing .input-text {
	width: 100%;
	padding: 5px;
	position: absolute;
	bottom: 0;
	background: url('../img/opacity_bg.png');
}

.chat .writing .input-text .text {
	width: 80%;
	min-width: 304px;
	max-width: 410px;
	height: 34px;
	min-height: 34px;
	max-height: 34px;
	color: #434343;
	font-family: Arial;
	font-size: 12px;
	float: left;
	border: 1px solid #aaa;
	border-right: none;
	outline: none;
	resize: none;
}

.chat .writing .input-text .submit {
	width: 16.2%;
	min-width: 30px;
	max-width: 108px;
	height: 40px;
	background: url('../img/megachat-send_bg.png') center center no-repeat #f4f4f4;
	float: left;
	border: 1px solid #aaa;
	cursor: pointer;
}

.chat .writing .input-text:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
		

/* local styles */

.filters {
	width: 900px;
	background: url('../img/opacity_bg.png');
	margin: 20px 0 0;
	padding: 10px 20px 20px 10px;
}

.filters.activeMargin {
	margin: 20px 0 20px;
}
.filters .add-med {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: url("../img/button-plus_bg.png") left center no-repeat #fff;
	padding: 4px 10px 4px 18px;
	margin-right: 10px;
	float: left;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filters .add-med.active {
	color: #3e3e3e;
	background: #fff79d;
	border: 1px solid #e0b401;
}
.filters .add-bee-container {
	float: left;
	position: relative;
}
.filters .add-bee-container .add-bee {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: url("../img/button-plus_bg.png") left center no-repeat #fff;
	padding: 4px 10px 4px 18px;
	margin-right: 10px;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filters .add-bee-container .add-bee.active {
	color: #3e3e3e;
	background: #fff79d;
	border: 1px solid #e0b401;
}
.filters .add-bee-container .add-bee-addition {
	color: #000;
	font-family: Arial;
	font-size: 11px;
	position: absolute;
	top: 28px;
	left: 0;
}
.filters .add-other {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: url("../img/button-plus_bg.png") left center no-repeat #fff;
	padding: 4px 10px 4px 18px;
	margin-right: 20px;
	float: left;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filters .add-other.active {
	color: #3e3e3e;
	background: #fff79d;
	border: 1px solid #e0b401;
}
.filters .add-season {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: #fff;
	padding: 3px 10px;
	margin-right: 20px;
	float: left;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	width: 100px;
	height: 25px;
	-webkit-appearance: none;
	background: url('../img/button-select_bg1.png') right center no-repeat #fff;
	line-height: 1em;
	cursor: pointer;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
}
.filters .add-season::-ms-expand {
	display: none;
}
.filters .add-season.active {
	background: url('../img/button-select_bg2.png') right center no-repeat #fff;
}
.filters .add-price-container {
	background: url('../img/rubl.png') right center no-repeat;
	margin-right: 16px;
	padding-right: 8px;
	float: left;
}
.filters .add-price-container .from {
	width: 32px;
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: #fff;
	margin: 0;
	padding: 4px 8px;
	border: 1px solid #999;
	border-radius: 2px 0 0	2px;
	outline: none;
}
.filters .add-price-container .to {
	width: 32px;
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: #fff;
	margin: 0;
	padding: 4px 8px;
	border: 1px solid #999;
	border-left: none;
	border-radius: 0 2px 2px 0;
	outline: none;
	position: relative;
	left: -4px;
}
.filters .delivery-switch {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: #fff;
	padding: 4px 10px;
	margin-right: 10px;
	float: left;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filters .delivery-switch.active {
	color: #3e3e3e;
	background: #f6db4d;
	border: 1px solid #e0b401;
}
.filters .toggleSwitches {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: url('../img/button-select_bg1.png') right center no-repeat #fff;
	padding: 4px 10px;
	margin-right: 10px;
	float: left;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filters .toggleSwitches.active {
	color: #3e3e3e;
	background: #fff79d;
	background: url('../img/button-select_bg2.png') right center no-repeat #f6db4d;
	border: 1px solid #e0b401;
}
.filters .add-filters-container {
	float: left;
	position: relative;
}
.filters .add-filters-container .add-all-filters {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: #ffdb4d;
	padding: 4px 10px;
	margin-right: 20px;
	float: left;
	border: 1px solid #cbad33;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filters .add-filters-container .add-all-filters.active {
	color: #3e3e3e;
	background: #fff79d;
	border: 1px solid #e0b401;
}
.filters .add-filters-container .reset-all-filters {
	color: #000;
	font-family: Arial;
	font-size: 11px;
	background: transparent;
	padding: 0;
	border: 0;
	position: absolute;
	top: 30px;
	left: 0;
	outline: none;
	cursor: pointer;
}
.filters:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.switches {
	width: 900px;
	background: url('../img/opacity_bg.png');
	margin: 0 0 20px;
	padding: 10px 20px 10px 10px;
	display: none;
}
.switches .one-or-company {
	float: left;
}
.switches .one-or-company .one {
	color: #838383;
	font-family: Arial;
	font-size: 12px;
	padding: 4px 8px;
	float: left;
	border: 1px solid #cbcbcb;
	border-radius: 2px 0 0 2px;
	outline: none;
	cursor: pointer;
}
.switches .one-or-company .company {
	color: #838383;
	font-family: Arial;
	font-size: 12px;
	padding: 4px 8px;
	float: left;
	border: 1px solid #cbcbcb;
	border-radius: 0 2px 2px 0;
	position: relative;
	left: -1px;
	outline: none;
	cursor: pointer;
}
.switches .one-or-company .active {
	background: #fff;
}
.switches .preorder-or-instock {
	margin-left: 30px;
	float: left;
}
.switches .preorder-or-instock .preorder {
	color: #838383;
	font-family: Arial;
	font-size: 12px;
	padding: 4px 8px;
	float: left;
	border: 1px solid #cbcbcb;
	border-radius: 2px 0 0 2px;
	outline: none;
	cursor: pointer;
}
.switches .preorder-or-instock .instock {
	color: #838383;
	font-family: Arial;
	font-size: 12px;
	padding: 4px 8px;
	float: left;
	border: 1px solid #cbcbcb;
	border-radius: 0 2px 2px 0;
	position: relative;
	left: -1px;
	outline: none;
	cursor: pointer;
}
.switches .preorder-or-instock .active {
	background: #fff;
}
.switches:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.switches .add-region-container {
	margin-left: 30px;
	float: left;
	position: relative;
}
.switches .add-region-container .add-region {
	color: #3d3d3d;
	font-family: Arial;
	font-size: 13px;
	background: url("../img/button-plus_bg.png") left center no-repeat #fff;
	padding: 4px 10px 4px 18px;
	margin-right: 20px;
	float: left;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.switches .add-region-container .add-region.active {
	color: #3e3e3e;
	background: #fff79d;
	border: 1px solid #e0b401;
}
.switches .add-region-container .add-region-addition {
	color: #999;
	font-family: Arial;
	font-size: 11px;
	position: absolute;
	top: 24px;
	left: 0;
}

.window .price-product {
	padding: 20px 0;
}
.window .price-product.active {
	background: #fff;
}
.window .price-product .product-img {
	width: 74px;
	margin-left: 10px;
	margin-right: 10px;
	margin: 0 10px;
	float: left;
	position: relative;
}
.window .price-product .product-img .img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #f0ff00;
	overflow: hidden;
}
.window .price-product .product-img .bookmark {
	width: 13px;
	height: 17px;
	background: url('../img/goods-bookmark.png') 0 0 no-repeat;
	position: absolute;
	top: 28px;
	left: -10px;
	cursor: pointer;
}
.window .price-product .product-img .active-bookmark {
	background-position: 0 -17px;
}
.window .price-product .product-content {
	float: left;
}
.window .price-product .product-content .product-head .product-name {
	color: #a36014;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	float: left;
	cursor: pointer;
}
.window .price-product .product-content .product-head .product-date {
	color: #666;
	font-family: Arial;
	font-size: 11px;
	margin: 4px 0 0 4px;
	float: left;
}
.window .price-product .product-content .product-head .product-date:before {
	content: "'";
}
.window .price-product .product-content .product-head .product-value {
	float: right;
}
.window .price-product .product-content .product-head .product-value .measurement {
	color: #999;
	font-family: Arial;
	font-size: 13px;
	float: right;
}
.window .price-product .product-content .product-head .product-value .measurement span {
	color: #000;
}
.window .price-product .product-content .product-head .product-value .new-value {
	color: #000;
	font-family: Arial;
	font-size: 13px;
	margin: 0 6px;
	float: right;
}
.window .price-product .product-content .product-head .product-value .old-value {
	color: #999;
	font-family: Arial;
	font-size: 11px;
	float: right;
	text-decoration: line-through;
}
.window .price-product .product-content .product-addition {
	
	clear: both;
}
.window .price-product .product-content .product-addition .description {
	color: #333;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	margin: 6px 0 0;
	float: left;
	line-height: 14px;
}
.window .price-product .product-content .product-addition .preorder {
	color: #000;
	font-family: Arial;
	font-size: 11px;
	margin: 6px 0 0;
	float: right;
}
.window .price-product .product-content .product-addition .buyin {
	color: #000;
	font-family: Arial;
	font-size: 11px;
	background: #ffdb4d;
	padding: 0 4px;
	float: right;
	border: 1px solid #cbad33;
	border-radius: 2px;
	text-decoration: none;
	display: none;
}
.window .price-product .product-content .product-addition .when {
	color: #999;
	font-family: Arial;
	font-size: 9px;
	margin: 14px 10px 0 0;
	float: left;
	clear: both;
	text-transform: uppercase;
}
.window .price-product .product-content .product-addition .who {
	float: left;
	color: #000;
	font-family: Arial;
	font-size: 11px;
	margin: 12px 0 0;
}
.window .price-product:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.details .title {
	margin-top: 20px;
	margin-left: 15px;
}

.details .title .the-title {
	color: #000;
	font-family: Arial;
	font-size: 18px;
	float: left;
}

.details .title .order {
	color: #3e3e3e;
	font-family: Arial;
	font-size: 13px;
	background: #ffdb4d;
	margin-left: 20px;
	padding: 6px 20px;
	float: left;
	border: 1px solid #cbad33;
	border-radius: 2px;
	position: relative;
	top: -6px;
	outline: none;
}

.details .title:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.details .price-category {
	padding-top: 20px;
	clear: both;
}

.details .price-category:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.details .price-category .category-name {
	color: #999;
	font-family: Arial;
	font-size: 15px;
	margin-left: 15px;
	float: left;
	border-bottom: 1px dashed #999;
	cursor: pointer;
}

.details .price-category .category-number {
	color: #999;
	font-family: Arial;
	font-size: 15px;
	margin-left: 5px;
	float: left;
}

.details .price-product {
	width: 370px;
	padding: 10px 15px;
	margin: 10px 0;
	border: 1px solid transparent;
	clear: both;
}

.details .price-product:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.details .price-product .contact-checkbox-2mode {
	color: #000;
	font-size: 13px;
	position:relative;
	margin: 10px 0;
	padding-left:25px;
	padding-bottom: 6px;
}

.details .price-product .contact-checkbox-2mode input[type=checkbox] {
	display:none;
}

.details .price-product .contact-checkbox-2mode label:after {
	content:'';
	display:block;
	height:17px;
	width:27px;
	background: url('../img/contact-checkbox-2mode.png');
	position:absolute;
	top:0;
	left:0;
	cursor: pointer;
}

.details .price-product .contact-checkbox-2modeinput[type=checkbox]:checked + label:after {
	width:27px;
	height:17px;
	background-position: 0 17px;
}

.details .price-product .contact-checkbox-2modespan {
	position: relative;
	top: -2px;
	left: 10px;
	cursor: pointer;
}
					

.details .price-product .product {
	clear: both;
}

.details .price-product .product-img {
	margin-right: 10px;
	float: left;
	position: relative;
}
.details .price-product .product-img .bookmark {
	width: 13px;
	height: 17px;
	background: url('../img/goods-bookmark.png') no-repeat;
	position: absolute;
	top: 14px;
	left: -14px;
	cursor: pointer;
}

.details .price-product .product-img .active-bookmark {
	background: url('../img/goods-bookmark-active.png') no-repeat;
}
					

.details .price-product .product-content {
	width: 320px;
	float: left;
}
						
.details .price-product .product-content .product-head .product-name {
	color: #006699;
	font-family: Arial;
	font-size: 15px;
	float: left;
	cursor: pointer;
}

.details .price-product .product-content .product-head .product-date {
	color: #666;
	font-family: Arial;
	font-size: 11px;
	margin-left: 4px;
	float: left;
}

.details .price-product .product-content .product-head .product-date:before {
	content: "'";
}
							

.details .price-product .product-content .product-head .product-value {
	float: right;
}

.details .price-product .product-content .product-head .product-value .measurement {
	color: #999;
	font-family: Arial;
	font-size: 13px;
	float: right;
}

.details .price-product .product-content .product-head .product-value .measurement span {
	color: #000;
}
								
.details .price-product .product-content .product-head .product-value .new-value {
	color: #000;
	font-family: Arial;
	font-size: 13px;
	margin: 0 6px;
	float: right;
}

.details .price-product .product-content .product-head .product-value .old-value {
	color: #999;
	font-family: Arial;
	font-size: 11px;
	float: right;
	text-decoration: line-through;
}
						
.details .price-product .product-content .product-addition {
	border-top: 1px solid #b8b8b8;
	clear: both;
}
.details .price-product .product-content .product-addition .description {
	width: 240px;
	color: #333;
	font-family: Arial;
	font-size: 12px;
	float: left;
}

.details .price-product .product-content .product-addition .preorder {
	color: #000;
	font-family: Arial;
	font-size: 11px;
	float: right;
}

.details .price-product .product-content .product-addition .when {
	color: #999;
	font-family: Arial;
	font-size: 9px;
	text-transform: uppercase;
	clear: both;
}

/* media styles */
@media (max-width: 1000px) {
	.top .user {
		width: 300px;
	}

	.top .user .buyin {
		display: none;
	}

	.top .user .visitcard {
		display: none;
	}

	.menu .addition .write-message .name {
		display: none;
	}
}